.menu-vv { 
	margin: 0;
	padding: 0;
}

.menu-vv * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-vv li {
	position:relative;
	line-height:1.2em;
	vertical-align:top;
}

.menu-vv a { 
	display: block;
	font:15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	padding:10px 10px;
	border:1px solid #CCC;
	text-decoration:none;
}

.menu-vv li ul { 
	position:absolute;
	visibility: hidden;
	margin-left:-50px;
	margin-top:5px;
	box-shadow:5px 5px 5px #333;
	z-index:60000;
}

.menu-vv li:hover ul,.menu-vv li.hover ul { 
	visibility: visible
}

.menu-vv li:hover ul ul, .menu-vv li.hover ul ul { 
	visibility: hidden;
}

.menu-vv li li:hover ul, .menu-vv li li.hover ul{ 
	visibility: visible;
}

.menu-vv li li:hover ul ul,.menu-vv li li.hover ul ul { 
	visibility: hidden; 
}

.menu-vv li li li:hover ul,  .menu-vv li li li.hover ul { 
	visibility: visible;
}
	/* características vertical-vertical */
.menu-vv { 
	float: left;
}	

.menu-vv li ul { 
	left: 100%;
	top: 0;
}
	/* ****************************************
	  ALTERE ABAIXO. defina a largura, cor, formatações, etc, dos itens do seu menu abaixo
	  ou apague as linhas se for definir em outro lugar
	*/
.menu-vv li { 
	width:200px;
	background-color:#EDEDED;
}

.menu-vv li a:hover { 
	font:15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	background:#FFF;
}